ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    overflow:hidden;
}

li{
    float: left;
}

a{
    text-decoration: none;
    color: black;
    background-color: rgb(190, 190, 190);
    padding: 5px;
    display: block;
    width: 120px;
    text-align: center;
    font-family: Arial;
    margin-right: 5px;
}

a:hover{
    background-color: rgb(104, 104, 104);
    color: white;
}

h1{
    font-family: Verdana;
    margin-left: 20px;
    padding-top: 20px;
}

#header{
    background-color: rgb(206, 229, 255);
    border-radius: 20px;
}

#conteudo{
    margin-top: 20px;
    margin-bottom: 35px;
}

#footer{
    background-color: rgb(206, 229, 255);
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    padding: 10px;
}